.player-haat{
  display: flex;
}
.all-contain{
  display: flex;
}
/* .player-container{
  text-align: left;
  border: 1px solid lightblue;
  margin: 10px 50px;
  width: 40%;
} */
.team-profile{
  float: right;
}
.team-info{
  width: 40%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
